# Copyright 2025 Terradue
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: ci

on:
  push:
    branches: [develop, main]
    paths:
      - 'src/**'
      - 'playground/**'
      - '.github/workflows/ci.yaml'

  pull_request:
    branches: [develop, main]
    paths:
      - 'src/**'
      - 'playground/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: pip install hatch

      - name: Build package
        run: hatch build

      - name: Test package
        run: hatch test

      - name: Docker login
        if: github.event_name == 'push'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & push Docker image
        if: github.event_name == 'push'
        run: |
          IMAGE_ID=ghcr.io/eoap/cwl2ogc/playground

          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            TAG="latest"
          elif [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            TAG="latest-dev"
          else
            echo "No docker tag for this branch"
            exit 0
          fi

          docker build . --file playground/Dockerfile --tag ${IMAGE_ID}:${TAG}
          docker push ${IMAGE_ID}:${TAG}